- for loop practice

In [2]:
fruit = ['apple', 'peach', 'banana','lemon']
for fruit in fruit: 
    fruit_juice = fruit + "juice"  # string can be concatnated 
    print(fruit_juice)

applejuice
peachjuice
bananajuice
lemonjuice

In [10]:
for i in range(3,0,-1):
    print(i)
    for j in range(i,0,-1):
        j += 1000
        print(j)

3
1003
1002
1001
2
1002
1001
1
1001

In [1]:
import pandas as pd

In [38]:
num = [1,2,3]
box = "" # string can be concatnated
for num in num:
    num_to_word = {1:"One",2:"Two", 3:"Three"}
    box = box + num_to_word[num] + " "   # string can be concatnated 
print(box)
type(num_to_word[num])

One Two Three

str

In [20]:
num = [1,2,3]
box = []
for num in num:
    num_to_word = {1:"One",2:"Two", 3:"Three"}
    box.append(num_to_word[num])

box = "       FUCK is Hard         ".join(box)
print(box)

One       FUCK is Hard         Two       FUCK is Hard         Three

In [6]:
string_1 = "Moses supposes his toeses are roses,"
string_2 = "Moses supposes erroneously."

string_1 + ", but " + string_2

'Moses supposes his toeses are roses,, but Moses supposes erroneously.'

In [4]:
me = "Kelly"
me_list = ["Kelly"]
len(me_list[0])

5

In [5]:
len(me_list)

1

In [12]:
me.title()

'Kelly'

In [11]:
string_3 = "                    doot de doo de doo                       "
string_3.strip()

'doot de doo de doo'

In [15]:
string_4 = "My name is Bond, James Bond."
string_4.find("o")

12

In [16]:
string_4

'My name is Bond, James Bond.'

In [18]:
def sing_verse_3(num, drink, container):
    num = str(num)
    num_2 = str(num-1)
    song = "{num} {container} of {drink} on the wall. \n {num} {container} of {drink} \n"       
    song = song .format(firstname = "James", lastname = "Baldwin")

    return song

'100 cup of beer on the wall. \n'

In [ ]:
def sing_verse_3(num, drink, container):
  song = str(num) + " " + container +" of " + drink + " on the wall \n"
  song = song + str(num) + " "+ container +" of " + drink + "\n" 
  song = song + " take one down, pass it around, \n"
  song = song + str(num-1) + container + " of " + drink + " on the wall \n"
  
  return song

In [21]:
moses_string = "Moses supposes his toeses are roses, but Moses supposes erroneously.  Moses he knowses his toeses aren't roses, as Moses supposes his toeses to be."

In [56]:
import re
re.findall(r"", moses_string)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [59]:
nursery_rhyme = "Peter Piper picked a peck of pickled peppers, A peck of pickled peppers Peter Piper picked; If Peter Piper picked a peck of pickled peppers, Whereâ€™s the peck of pickled peppers Peter Piper picked?"

In [67]:
ppp = re.findall(r"\s[pP]", nursery_rhyme)
type(ppp)
len(ppp)

23

In [51]:
nr_list = re.split(r"\b", nursery_rhyme)
nr_list

['',
 'Peter',
 ' ',
 'Piper',
 ' ',
 'picked',
 ' ',
 'a',
 ' ',
 'peck',
 ' ',
 'of',
 ' ',
 'pickled',
 ' ',
 'peppers',
 ', ',
 'A',
 ' ',
 'peck',
 ' ',
 'of',
 ' ',
 'pickled',
 ' ',
 'peppers',
 ' ',
 'Peter',
 ' ',
 'Piper',
 ' ',
 'picked',
 '; ',
 'If',
 ' ',
 'Peter',
 ' ',
 'Piper',
 ' ',
 'picked',
 ' ',
 'a',
 ' ',
 'peck',
 ' ',
 'of',
 ' ',
 'pickled',
 ' ',
 'peppers',
 ', ',
 'Where',
 'â€™',
 's',
 ' ',
 'the',
 ' ',
 'peck',
 ' ',
 'of',
 ' ',
 'pickled',
 ' ',
 'peppers',
 ' ',
 'Peter',
 ' ',
 'Piper',
 ' ',
 'picked',
 '?']

In [45]:
map(lambda x )

NameError: name 'list_1' is not defined

In [73]:
re.findall(r"\w*oes?ses", moses_string)

['toeses', 'toeses', 'toeses']

In [101]:
re.findall(r"\b[pP]*", nursery_rhyme)

list

In [94]:
names = "Key, Kely, Kelly, Kellly, Kelllly"
re.findall(r"Kel{1,3}y", names)

['Kely', 'Kelly', 'Kellly']

In [95]:
fish_string = "One fish, two fish, red fish, blue fish."
fish_list = fish_string.split(", ")
fish_list

['One fish', 'two fish', 'red fish', 'blue fish.']

In [99]:
type(fish_list)
un = " ".join(fish_list)

In [100]:
type(un)

str

In [112]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

df['A'] = df['A'].apply(lambda x: x**2)
print(df)

   A  B
0  1  4
1  4  5
2  9  6

In [113]:
aa = (1,2,3,4,5)
type(aa)

tuple

In [1]:
import pandas as pd

# Create a sample dataset
data = {
    'country': ['USA', 'Canada', 'Mexico'],
    'continent': ['North America', 'North America', 'North America'],
    'pop_2000': [282, 31, 100],
    'pop_2005': [295, 33, 103],
    'pop_2010': [309, 35, 106],
    'gdp_2000': [10000, 800, 600],
    'gdp_2005': [12000, 850, 700],
    'gdp_2010': [15000, 900, 800]
}

# Convert to DataFrame
df = pd.DataFrame(data)
df

,country,continent,pop_2000,pop_2005,pop_2010,gdp_2000,gdp_2005,gdp_2010
0,USA,North America,282,295,309,10000,12000,15000
1,Canada,North America,31,33,35,800,850,900
2,Mexico,North America,100,103,106,600,700,800

In [3]:
long_population = df.melt(id_vars=["country", "continent"], var_name="year", value_name="population", value_vars =["pop_2000", "pop_2005", "pop_2010"])
long_population

  country      continent      year  population
0     USA  North America  pop_2000         282
1  Canada  North America  pop_2000          31
2  Mexico  North America  pop_2000         100
3     USA  North America  pop_2005         295
4  Canada  North America  pop_2005          33
5  Mexico  North America  pop_2005         103
6     USA  North America  pop_2010         309
7  Canada  North America  pop_2010          35
8  Mexico  North America  pop_2010         106

In [9]:
gdp_long = df.melt(id_vars=["country", "continent"], var_name="year", value_name="GDP", value_vars=["gdp_2000", "gdp_2005", "gdp_2010"])
gdp_long

  country      continent      year    GDP
0     USA  North America  gdp_2000  10000
1  Canada  North America  gdp_2000    800
2  Mexico  North America  gdp_2000    600
3     USA  North America  gdp_2005  12000
4  Canada  North America  gdp_2005    850
5  Mexico  North America  gdp_2005    700
6     USA  North America  gdp_2010  15000
7  Canada  North America  gdp_2010    900
8  Mexico  North America  gdp_2010    800

In [11]:
df_big = pd.wide_to_long(df, stubnames=['pop', 'gdp'], i=['country', 'continent'], j='year', sep='_').reset_index()
df_big

  country      continent  year  pop    gdp
0     USA  North America  2000  282  10000
1     USA  North America  2005  295  12000
2     USA  North America  2010  309  15000
3  Canada  North America  2000   31    800
4  Canada  North America  2005   33    850
5  Canada  North America  2010   35    900
6  Mexico  North America  2000  100    600
7  Mexico  North America  2005  103    700
8  Mexico  North America  2010  106    800