- 1.1
- filter out ca
- convert km 
- sort by length from longeest to shortest. Print the first 4 results.

- 1.2 
- filter out elevation_gain < 500 meters and length < 5
- sort results by ave_rating desc. Print the first result.

- 1.3
- find unique name .unique to filter out repeated park names # yosemite will appear more than one due to the trials
- find instance of land using regex; need to us apply.() to go through each cell; lands_name = df.apply.(lambda x: re.findall(x, r"[Lland]"))
- count how many elements in the variable lands_name using len(lands)

- 1.4 
- avg_rating, difficulty_rating, popularity, visitor_usage
- np_trails_new = np_trails.melt(id_vars=["name"], var_name="rating", value_name="score")

from plotnine import *
from plotnine.scales import scale_y_log10

(ggplot(ca_parks, aes(x="_______", y="_______", ______ = "________"))
+ geom_______()
+ scale_______() 
+ scale________(guide=False)
+ ______(
  x = "",
  y = "",
  _____ = "Number of reviews per trail for CA Parks"
)
+ ______()
+ theme(________=element_text(rotation=____, hjust=1)) 
)

- 2.1
- required input: dataset, national park, 
- optional input: A minimum trail elevation gain (in meters)
                  A maximum trail elevation gain (in meters)
                  A minimum trail rating
                  The type of trail 
- output: list of trail
- recommend_trails(df, park, minimum_ele = None, max_ele = None, min_rating = None, type = None)
- def recommend_trails(dataset, minimum_ele = None,
                            max_ele = None, 
                            min_rating = None, 
                            type = None):
      if min_elev is None:
        min_recom = df[df['min_ele'] = 0]
      if msx_elev is None:
        max_recom = df[df['max_ele'] = 9999999]
      if msx_elev is None:
        min_rating = 0
      df_recom = df[(df['elevation_gain'] > min_ele) &
                     (df['elevation_gain'] < max_ele) &
                     (df['ave_rating'] > min_rating)]

      if type is not None:
        df_finarecom = df_recom[df_recom['type'] == type]

      if park is not None:
        df_finarecom = df_recom[df_recom['park'] == park]

    return f_finarecom["name"] # return the name column

- 2.2

In [1]:
import pandas as pd
import requests as re
from bs4 import BeautifulSoup

In [33]:
def crape_temps(month):
    row0 = []
    if month is not None:
        url = "https://www.extremeweatherwatch.com/us-state-averages" + "/month-" + month
    else:
        url = "https://www.extremeweatherwatch.com/us-state-averages"
    response = re.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    table = soup.find_all("table")[0]
    for tr in table.find_all("tr")[1:]:
        td = tr.find_all("td")
        state_name = td[0].text.strip()
        low_temp = td[1].text.strip()
        hi_temp = td[2].text.strip()
        precipitation = td[3].text.strip()
        row0.append({
        "state": state_name,
        "low_temp": low_temp,
        "hi_temp": hi_temp,
        "precipitation": precipitation
    })
    return pd.DataFrame(row0)

In [37]:
temp = crape_temps(None)
temp.head()

        state low_temp hi_temp precipitation
0     Alabama     75.0    52.2          56.9
1      Alaska     35.5    20.4          37.6
2     Arizona     75.3    46.8          11.6
3    Arkansas     71.8    50.2          52.5
4  California     71.5    46.5          22.3